@import 'variables';
@import 'globals';
@import 'common/column/column';

.work-area {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.rectangle-creator {
    height: 60px;
    width: 120px;
    border: 1px black 2px;
}

.portable {
    height: 60px;
    width: 120px;
    cursor: move;
}

.destinations-wrapper {
    display: flex;
    gap: 40px;
}

.destination {
    min-height: 240px;
    width: 480px;
    border: 1px solid black;
}

.destination-ordered {
    background-color: wheat;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: start;
}

.destination-chaos {
    border-color: aqua;
    position: relative;
    overflow: hidden
}
