@import 'variables';
@import 'globals';
@import 'common/column/column';

.work-area {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.rectangle-creator {
    height: 100px;
    width: 100px;
    border: 1px black 2px;
    margin-bottom: 20px;
}

.portable {
    height: 100px;
    width: 100px;
    cursor: move;
}

.destinations-wrapper {
    display: flex;
    gap: 40px;
}

.destination {
    min-height: 320px;
    min-width: 300px;
    width: 300px;
    border: 1px solid black;
}

.destination-ordered {
    background-color: lightgray;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: start;
}

.destination-chaos {
    border-color: darkgrey;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden
}
